body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(230, 156, 45);
  background-color: rgb(225, 115, 102);
}

h1 {
  font-family: 'Righteous';
  text-align: center;
  font-size: 3em;
  color: rgb(255, 255, 255);
  margin-top: 60px;
  margin-bottom: 45px;
}

h2 {
  font-family: 'Righteous';
  margin-left: 30px;
  margin-top: 60px;
  font-size: 2em;
  color: rgb(255, 255, 255)  
}

h3 {
  font-family: 'Righteous';
  margin-left: 30px;
  font-size: 1.75em;
  color: rgb(255, 255, 255)
}

ul, table {
  color: rgb(243, 63, 153);
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  border-style: outset;
  border-color: black;
  border-width: 5px;
  margin: auto;
  background-color: rgb(49, 114, 45);
  margin-bottom: 45px;
}

legend {
  background-color: #000;
  padding: 3px 6px;
}

td, th {
  padding: 5px;
}

tr, td, th {
  border: solid black 2px;
}

aside {
  float: right;
  background-color: rgb(49, 114, 45);
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 75px;
  padding: 20px;
}

#section1 div {
  width: 33%;
  display: inline-block;
}

#section2 div {
  width: 33%;
  display: inline-block;
}

#salmon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-top: 30px;
  margin-bottom: 60px;
}

#locationUl {
  color: rgb(230, 156, 45);
  border-style: none;
  border-color: black;
  margin-top: 10px;
  margin-left: 50px;
}

#form1 {
  width: 1000px;
  margin: auto;
}

#formHeader {
  margin-bottom: 30px;
  margin-left: 75px;
  font-family: 'Righteous';
  font-size: 2em;
  color: rgb(255, 255, 255);
  text-align: center;
}

#field {
  border: solid black 3px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.indexDiv {
  margin-top: 15px;
  margin-left: 15px;
  background-color: rgb(49, 114, 45);
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 75px;
  width: 70%;
  padding: 10px;
  display: inline-block;
}

.indexDiv p {
  margin-left: 30px;
}